%button {
    background: $input-background;
    cursor: pointer;
    border-radius: 10px;
    color: $text-color;
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s;
    &:hover {
        color: #202035;
        background: #525269;
    }
}