.back-arrow-component {
    margin: 20px 20px 20px 10px;
    a {
        @extend %button;
        font-size: 24px;
        &::before {
            display: inline-block;
            color: $text-color;
            border-style: solid;
            border-width: 2px 0px 0px 2px;
            content: '';
            height: 10px;
            width: 10px;
            position: relative;
            top: -2px;
            left: 0px;
            transform: rotate(-45deg);
            transition: color 0.3s;
            margin-right: 5px;
        }
        &:hover::before {
            color: #202035;
        }
    }

}