.date-selector-component {
    margin: 20px;
    text-align: center;
    label {
        margin: 0px 10px;
        color: $text-color;
    }

    button:disabled {
        opacity: 0.4;
    }

    input[type=date],
    input[type=time] {
        background: $input-background;
        border: none;
        color: $text-color;
        cursor: pointer;
    }
    input[type=date] {
        border-radius: 5px 0px 0px 5px;
    }
    input[type=time] {
        border-radius: 0px 5px 5px 0px;
    }
}
