.home-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    a {
        background: $input-background;
        color: $text-color;
        border-radius: 5px;
        margin: 20px;
        min-width:150px;
        min-height: 150px;
        text-align: center;
        line-height: 150px;
        font-size: 24px;
        text-decoration: none;
        border: none;
        box-shadow: 5px 5px 1px 0px #15152F;
        transition: color 0.3s;
        &:hover {
            color: #202035;
            background: #525269;
        }
    }
}

.title {
    color: $text-color;
    text-align: center;
    margin: 20px;
}