//Abstracts
@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/placeholders';

//Containers
@import 'containers/home';

//Components
@import 'components/backArrow';
@import 'components/chart';
@import 'components/dateSelector';


//reset
input,
button {
    &:focus {
        outline: none;
    }
}

//general rules
html {
    font-family: 'Unica One', sans-serif;
    background: $background-color;
}
